:root {
    --bg-color: linear-gradient(315deg, #130f40 0%, #000000 74%);
    --text-color: #FFFFFF;
    --text-secondary-color: #A5A5A5;
    --primary-color: #4A4E74;
    --surface-color: #1E1E1E;
    --border-color: #424040;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: "Trykker", serif; */
    background: var(--bg-color)
    color: var(--text-color); 
    overflow-x: hidden;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    display: none !important;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 24px;
}

/* header and carousel */
.main-header {
    position: relative;
    color: var(--text-color);
    overflow: hidden;
    /* background: var(--bg-color); */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

#banner-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#banner-carousel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.3));
    z-index: 1;

}

.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    z-index: 1;
}

.carousel-slide.active {
    opacity: 1;
}

.header-content {
    position: relative;
    z-index: 2;
    padding: 32px 24px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-link {
    color: var(--text-color);
    font-size: 0.875rem;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s ease;

}

#nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* search form */
#search-form {
    margin-top: 55px;
    display: flex;
    border-radius: 16px;
    box-shadow: 0 4px 3px rgba(0,0,0,0.4);
    background-color: var(--surface-color);
    border: 1px solid var(--border-color);
}

.search-input-wrapper {
    position: relative;
    flex-grow: 1;
}

.search-icon {       
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: var(--text-secondary-color);
}

#search-input {
    width: 100%;
    color: var(--text-color);
    background: transparent;
    padding: 12px 16px 12px 44px;
    border: none;
    border-radius: 16px 0px 0px 16px;
    font-size: 0.95rem;
}

#search-input::placeholder {
    color: var(--text-secondary-color);
}

#search-input:focus {
    outline: none;
    box-shadow: 0 0 1px 1px var(--text-color);
}

.search-button {
    background-color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 0 8px 8px 0;
    color: var(--text-color);
    font-size: 0.95rem;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.search-button:hover {
    opacity: 0.8;
}

/* main content and movie grid */
#content-area {
    padding: 24px 0;
}

.movie-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

/* movie card styles */
.movie-card {
    background-color: var(--surface-color);
    border: 2px solid var(--border-color);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    gap: 16px;
    padding: 16px;
    transition: transform 0.5s ease;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster-wrapper {
    position: relative;
    flex-shrink: 0;
}

.movie-poster {
    width: 96px;
    height: 144px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.movie-title-rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;   
}

.movie-title {
    font-size: 1.125rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
}

.movie-year {
    font-size: 0.875rem;
    color: var(--text-secondary-color);
    font-weight: 500;
}

.movie-rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.875rem;
    color: #FFD700;
    flex-shrink: 0;
}

.movie-rating svg {
    width: 16px;
    height: 16px;
}

.movie-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    font-size: 0.75rem;
    color: var(--text-secondary-color);
    margin-top: 8px;
}

.movie-plot {
    margin-top: 12px;
    line-height: 1.4;
    color: #d1d5db;
    font-size: 0.875rem;
}

/* skeleton loader  */
.skeleton {
    background-color: var(--surface-color);
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    height: 100%;
    width: 150%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    100% {
        left: 100%;
    }
}

.skeleton-poster {
    width: 96px;
    height: 144px;
    border-radius: 8px;
    flex-shrink: 0;
}

.skeleton-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.skeleton-title {
    height: 20px;
    width: 75%;
}

.skeleton-meta {
    height: 20px;
    width: 50%;
    margin-top: 8px;
}

.skeleton-plot {
    height: 48px;
    width: 100%;
    margin-top: 12px;
}

.skeleton-button {
    height: 32px;
    width: 112px;
    border-radius: 100px;
    margin-top: 12px;
}








